# Various System/Temporary Files:
Thumbs.db
.DS_Store
*.swp
*~
Desktop.ini

# XCode User Settings:
*.pbxuser
xcuserdata/

# Eclipse Workspace Metadata:
.metadata/

# Resources Folder:
input/
output/

# Binary Folder:
bin/